.category-container{
    display:flex;
    justify-content: space-evenly;
    background-color: #3d405b;
    color: white;
    padding: 10px 0 25px 0;
}

.category-container a{
    padding: 1em 2em;
    color:white;
    text-decoration: none;
}
.category-container a:hover{
    background-color: rgb(205, 119, 28);
    transition: 0.5s;
    border-radius: 10px;;
}

@media(max-width:700px){
    .category-container a{
        width: 100%;
    }
    .category-container a:hover{
        background-color: rgb(205, 119, 28);
    }
}